body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    text-align: center;
}

main {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

img {
    display: block;
    margin: 30px auto;
    width: 400px;
    height: auto;
    opacity: 0;
    animation: fadeIn 1.2s forwards ease-in;
}

/* Fade animation */
@keyframes fadeIn {
    from { opacity: 0; filter: brightness(0%); }
    to { opacity: 1; filter: brightness(100%); }
}

footer {
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 40px;
}
