:root {
  --primary-green: #006b3f;
  --primary-red: #ce1126;
  --white: #ffffff;
  --black: #000000;
  --gray-light: #f5f5f5;
  --white-alpha: #d9d9d9;
  --white-alpha-90: #e6e6e6;
  --shadow-light: #262626;
  --shadow-medium: #404040;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--black);
  background: var(--gray-light);
}

header {
  background: var(--primary-red);
  color: var(--white);
  text-align: center;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

header::after {
  content: "";
  display: block;
  height: 8px;
  background: var(--primary-green);
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  position: relative;
  z-index: 5;
}

section {
  background: var(--white-alpha);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px var(--shadow-light);
}

section h2 {
  background: var(--primary-green);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 6px;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: bold;
  text-align: center;
}

.weather h2::after {
  content: "⛅";
  margin-left: .5rem;
  display: none;
  font-size: 1.3rem;
}

.weather-icon-mobile {
  width: 60px;
  display: block;
  margin-bottom: .5rem;
}

footer {
  background: var(--primary-red);
  color: var(--white);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

@media (min-width: 900px) {

  .hero {
    position: relative;
  }

  main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 2rem;
    border-radius: 15px;
    background: var(--white-alpha-90);
    box-shadow: 0 0 25px var(--shadow-medium);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .data {
    grid-column: 1;
    grid-row: 1;
  }

  .weather {
    grid-column: 2;
    grid-row: 2;
  }

  .weather-icon-mobile {
    display: none;
  }

  .weather h2::after {
    display: inline;
  }

  body {
    padding-bottom: 300px;
  }
}
