body {
  font-family: Arial, sans-serif;
  margin: 1rem;
  padding: 0;
}

header, main, footer {
  max-width: 640px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #bbb;
  background-color: #e6f2ff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 0.5rem;
  background-color: #fff;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}
