@media screen and (min-width: 768px) {
  #nav-menu {
    display: flex; 
    flex-direction: row;
    gap: 1rem;
  }

  #hamburger {
    display: none; 
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr); 
  }
}
